In [1]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

dataset = pd.read_csv(r"C:\Users\Ahsan\Downloads\loan_data_with_missing_values.csv")
dataset.head(3)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001,Male,Yes,0,Graduate,No,5849.0,0.0,NaN,360.0,1.0,Urban,Y
1,LP002,Female,No,1,Not Graduate,NaN,4583.0,1508.0,128.0,360.0,0.0,Rural,N
2,LP003,NaN,Yes,2,Graduate,Yes,3000.0,0.0,66.0,NaN,1.0,Semiurban,Y

In [2]:
dataset.isnull().sum()

Loan_ID              0
Gender               1
Married              1
Dependents           1
Education            0
Self_Employed        1
ApplicantIncome      1
CoapplicantIncome    1
LoanAmount           1
Loan_Amount_Term     1
Credit_History       1
Property_Area        1
Loan_Status          0
dtype: int64

In [7]:
dataset["Married"].fillna(dataset["Married"].mode()[0], inplace=True)

C:\Users\Ahsan\AppData\Local\Temp\ipykernel_1272\1100786142.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset["Married"].fillna(dataset["Married"].mode()[0], inplace=True)

In [9]:
en_data = dataset[["Gender", "Married"]]
en_data

   Gender Married
0    Male     Yes
1  Female      No
2     NaN     Yes
3    Male      No
4  Female      No

In [11]:
en_data = dataset[["Gender", "Married"]]
pd.get_dummies(en_data).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Gender_Female  5 non-null      bool
 1   Gender_Male    5 non-null      bool
 2   Married_No     5 non-null      bool
 3   Married_Yes    5 non-null      bool
dtypes: bool(4)
memory usage: 152.0 bytes

In [5]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
ar = [
    [1, 0, 0, 1],  # Gender = Female, Married = Yes
    [0, 1, 1, 0],  # Gender = Male, Married = No
    [1, 0, 1, 0]   # Gender = Female, Married = No
]
df = pd.DataFrame(ar, columns=["Gender_female", "Gender_male", "Married_No", "Married_Yes"])
print(df)

   Gender_female  Gender_male  Married_No  Married_Yes
0              1            0           0            1
1              0            1           1            0
2              1            0           1            0

In [7]:
import pandas as pd

# Define the data for encoding (you only want the first 2 columns)
ar = [
    [1, 0, 0, 1], 
    [0, 1, 1, 0],  
    [1, 0, 1, 0]  
]

ar_gender = [row[:2] for row in ar] 

df = pd.DataFrame(ar_gender, columns=["Gender_female", "Gender_male"])

print(df)

   Gender_female  Gender_male
0              1            0
1              0            1
2              1            0